<h1>{{prod.name}}</h1>
<div><b>Prix: {{ prod.cost }} $</b>, En stock: {{ prod.rest }}</div>
<div><a href="/prod/edit/{{prod._id}}">Modifier</a></div>
<div><a href="/prod/delete/{{prod._id}}">Supprimer</a></div>